/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: linear-gradient(180deg, #f0f6ff 0%, #ffffff 60%);
    color: #1e293b;
    line-height: 1.6;
    min-height: 80vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.logo {
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    width: 1px;
}

.logo img{
    width: 160px;
    height: auto;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: #334155;
    margin-left: 2rem;
    font-size: 0.95rem;
}

nav a:hover {
    color: #2563eb;
}

/* LAYOUT */
.container {
    max-width: 760px;
    margin: 1rem auto;
    padding: 0 2rem;
}

/* INTRO */
.intro h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.intro p {
    font-size: 1.1rem;
    color: #475569;
    margin-bottom: 4rem;
}

/* LINKS*/
.links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.link-card {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e8f0;
}

.link-card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
}

.link-card p {
    color: #64748b;
    margin-bottom: 0.6rem;
}

.link-card a {
    text-decoration: none;
    color: #000000;
}

.link-card a:hover {
    text-decoration: underline;
}

/* HORIZONTAL LINKS */
.horizontal-links {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

/* Hide ugly scrollbar but keep functionality */
.horizontal-links::-webkit-scrollbar {
    height: 0px;
}

.horizontal-links::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

/* Card adjustments */
.horizontal-links .link-card {
    min-width: 280px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 1.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.04);
}


/* PDF PREVIEW */
.pdf-preview {
    margin: 1rem 0;
    border: none;
    overflow: hidden;
    width: 90%;
}

.pdf-preview iframe {
    width: 100%;
    height: 715px;
    border: 3px solid hsl(214, 32%, 91%);
    border-radius: 8px;
}

/* TICKER TRACKER */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

th {
    font-weight: 500;
    color: #475569;
}

td {
    color: #1e293b;
}


/* FOOTER */

footer {
    text-align: center;
    margin: 6rem 0 3rem;
    font-size: 0.85rem;
    color: #94a3b8;
}